*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    color: rgb(255, 255, 255);
}
.EditNav{
    width: 160px !important;
}
.row1{
    color: white;
    padding-left: 50px;
    font-size: 5vw;
}
.row2{
    padding-top: 50px;
}
.row3{
    padding: 20px;
    border-radius: 100px;
    padding-top: 50px;
    background: white;
    flex-direction: row-reverse;
}
.featureInfo{
    display: inline-block;
    padding: 120px 0;
    width: 100%;
    max-width: 470px;
    text-align: left;
}
.img-holder{
    background-image: url(cloud-bg-sm.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    padding: 30px 0;
}
.row4{
    background: rgb(41, 41, 41);
    color: white;
}
.backgroundColor{
    background: rgb(218, 218, 218);
}
.Text-Alignment{
    padding-top: inherit;
}
.sub-footer{
    border-top: 1px solid #91a0bd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.a{
    padding: inherit;
    color: #ffffff;
}
.a:hover{
    color: rgb(153, 153, 153);
}
#header-holder:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(cloud-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    opacity: 0.17;
    z-index: -1;
}
#header-holder {
    position: relative;
    background-color: #1d1d1d;
    z-index: 10;
}
.feature-title {
    font-size: 33px;
    font-weight: 700;
    color: #333c4e;
    margin-bottom: 20px;
}
.feature-text {
    font-size: 18px;
    font-weight: 300;
    color: #090a19;
    margin-bottom: 25px;
    width: 100%;
}
.Home{
    background: white;
    color: rgb(44, 44, 44) !important;
    border-radius: 30px;
    padding: 10px !important;
}
.Home:hover{
    background: #1d1d1d;
    color: white !important;
    transition: 1s;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('icon_top.png') no-repeat;
}