*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    color: rgb(255, 255, 255);
}
.EditNav{
    width: 160px !important;
}
.row1{
    color: white;
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}
.ml2 .letter {
  display: inline-block;
  line-height: 1em;
  font-style:sans-serif;
}
.ml3 {
  font-weight: 900;
  font-size: 3.5em;
}
.ml3 .letter {
  display: inline-block;
  line-height: 1em;
}
.row2{
    padding: 20px;
    padding-top: 50px;
}
.row3{
    padding: 20px;
    padding-top: 50px;
    flex-direction: row-reverse;
}
.featureInfo{
    display: inline-block;
    padding: 120px 0;
    width: 100%;
    max-width: 470px;
    text-align: left;
}
.btn{
  font-weight: bolder;
  background: #f7901e;
  border: none;
  border-radius: 30px;
}
.btn:hover{
  background: #bcbcbc !important;
  color: white !important;
}
.button {
  border: none;
  border-radius: 20px;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #1f1f4d;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button:hover {
  background-color: #555;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.img-holder{
    background-image: url(cloud-bg-sm.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    padding: 30px 0;
}
.row4{
    background: rgb(41, 41, 41);
    color: white;
}
.backgroundColor{
    background: rgb(218, 218, 218);
}
.backgroundColorDomain{
  background: #62acb5;
}
.backgroundColorWeb{
  background: #f7901e;
}
.backgroundColorServices{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(Services.jpg);
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgroundColorTeam{
  background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(Team.jpeg);
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Text-Alignment{
    font-size: 8vw;
}
.sub-footer{
    border-top: 1px solid #91a0bd;
    padding-top: 20px;
    padding-bottom: 20px;
}
.a{
    padding: inherit;
    color: #ffffff;
}
.a:hover{
    color: rgb(153, 153, 153);
}
#header-holder:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(Background1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.17;
    z-index: -1;
}
#header-holder {
    position: relative;
    background-color: #1d1d1d;
    z-index: 10;
}
.feature-title {
    font-size: 33px;
    font-weight: 700;
    color: #333c4e;
    margin-bottom: 20px;
}
.feature-text {
    font-size: 18px;
    font-weight: 300;
    color: #090a19;
    margin-bottom: 25px;
    width: 100%;
}
.Home{
    background: white;
    color: rgb(44, 44, 44) !important;
    border-radius: 30px;
    padding: 10px !important;
}
.Home:hover{
    background: #1d1d1d;
    color: white !important;
    transition: 1s;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('icon_top.png') no-repeat;
}
#mainNav {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
  }
  #mainNav .navbar-brand {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color: #212529;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: #f7901e;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: #f7901e !important;
  }
  @media (min-width: 992px) {
    #mainNav {
      box-shadow: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: #f7901e;
    }
    #mainNav .navbar-brand:hover {
      color: #fff;
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      color: rgba(255, 255, 255, 0.7);
      padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: #f7901e;
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    #mainNav.navbar-scrolled {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      background-color: rgb(255, 255, 255);
    }
    #mainNav.navbar-scrolled .navbar-brand {
      color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-brand:hover {
      color: #bcbcbc;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
      color: #212529;
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
      color: #bcbcbc;
    }
  }
